@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600&display=swap');

body {
    background: #dde1e7;
}
div{
    /* overflow: hidden; */
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3.2vw;
    font-weight: 600;
    
    /* color: rgba(94,104,121,0.8); */
}
p1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
}

.right {
    position: absolute;
    top: 15%;
    right: 9%;
}
.right2 {
    top:35%;
}
.left {
    position: absolute;
    top: 15%;
    left: 15%;
}
.left2 {
    top:35%
}
.bottom {
    position: absolute;
    bottom: 20%;
    left: 27%;
    text-align: center;
}
.top {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 27%;
}

.parent {
    position: relative;
    transform: translateY(3vw);
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: 14.6vw 14.6vw 14.6vw;
    grid-template-columns: 3.6458333333333335vw 1fr 1fr 1fr 1fr 1fr 1fr 3.6458333333333335vw;
}
    
.div1 { grid-area: 1 / 2 / 2 / 4;}
.div2 { grid-area: 1 / 4 / 3 / 5;}
.div3 { grid-area: 3 / 4 / 4 / 6;}
.div4 { grid-area: 2 / 2 / 4 / 3; 
        /* background: url(pics/seaside.jpg);
        background-size: contain;
        animation: anim 1s steps(1);
        animation-play-state:paused; */
    } 
.div5 { grid-area: 1 / 6 / 2 / 8;}
.div6 { grid-area: 2 / 7 / 4 / 8;}
.div7 { grid-area: 1 / 5 / 2 / 6;}
.div8 { grid-area: 2 / 3 / 3 / 4;}
.div9 { grid-area: 2 / 5 / 3 / 6;}
.div10 { grid-area: 2 / 6 / 3 / 7;}
.div11 { grid-area: 3 / 3 / 4 / 4;}
.div12 { grid-area: 3 / 6 / 4 / 7;}

.div01 { grid-area: 1 / 2 / 2 / 4; z-index: 10;}
.div02 { grid-area: 1 / 4 / 3 / 5; z-index: 10;}
.div03 { grid-area: 3 / 4 / 4 / 6; z-index: 10;}
.div04 { grid-area: 2 / 2 / 4 / 3; z-index: 10;}
.div05 { grid-area: 1 / 6 / 2 / 8; z-index: 10;}
.div06 { grid-area: 2 / 7 / 4 / 8; z-index: 10;}
.div07 { grid-area: 1 / 5 / 2 / 6; z-index: 10;}
.div08 { grid-area: 2 / 3 / 3 / 4; z-index: 10;}
.div09 { grid-area: 2 / 5 / 3 / 6; z-index: 10;}
.div010 { grid-area: 2 / 6 / 3 / 7; z-index: 10;}
.div011 { grid-area: 3 / 3 / 4 / 4; z-index: 10;}
.div012 { grid-area: 3 / 6 / 4 / 7; z-index: 10;}

.diva { grid-area: 1 / 2 / 2 / 3;}
.divb { grid-area: 1 / 4 / 2 / 5;}
.divc { grid-area: 3 / 4 / 4 / 5;}
.divd { grid-area: 3 / 2 / 3 / 3;}
.dive { grid-area: 1 / 7 / 2 / 7;}
.divf { grid-area: 2 / 7 / 3 / 8;}

/* .test {
    position: relative;
    content: url(pics/seaside.jpg);
    top: 100%;
    transition: all .3s ease-out;
    height:100%;
}
.div04:hover > .test {
    top: 0;
    
} */

/* .img4 {
    max-width: 103%;
    height: auto;
    top: 100%;
    position: relative;
    transition: all 0.4s ease;
}
.div04:hover > .img4 {
    top: 50%;
} */

.shape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.indent {
    align-items: center;
    /* display: flex; */
    position: relative;
    border-radius: 150px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.5);
}

.hbutton {
  transition: all 0.4s ease;
  position: relative;
  border-radius: 50%;
  background-color: #dde1e7;
  box-shadow: 5px 5px 9px rgba(94,104,121,0.3), inset 5px 5px 9px rgba(255,255,255,0.35);
}
.vbutton {
    transition: all 0.4s ease;
    position: relative;
    border-radius: 50%;
    background-color: #dde1e7;
    box-shadow: 5px 5px 9px rgba(94,104,121,0.3), inset 5px 5px 9px rgba(255,255,255,0.65);
}

/* horizontal button animations */
.div01:hover ~ .diva{
    transform: translateX(100%);
    transition: all 0.4s ease;
}

.div03:hover ~ .divc{
    transform: translateX(100%);
    transition: all 0.4s ease;
}

.div05:hover ~ .dive{
    transform: translateX(-100%);
    transition: all 0.4s ease;
}

/* vertical button animations */
.div02:hover ~ .divb{
    transform: translateY(100%);
    transition: all 0.4s ease;
}
.div04:hover ~ .divd{
    transform: translateY(-100%);
    transition: all 0.4s ease;
}
.div06:hover ~ .divf{
    transform: translateY(100%);
    transition: all 0.4s ease;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.cropcircle{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: #eee no-repeat center;
    z-index:-1;
    position: relative;
}

.cropcircleh{
    height: 100%;
    width: 50%;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    z-index:-1;
}
.cropcirclev{
    position: absolute;
    bottom: 0%;
    height: 50%;
    width: 100%;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    z-index:-1;
}
.cropcircleh2{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 50%;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    z-index:-1;
}
.cropcirclev2{
    position: absolute;
    right: 0%;
    height: 50%;
    width: 100%;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    z-index:-1;
}

#img1 {
    background: url(pics/oregon.jpg);
    background-size: cover;
}
#img2 {
    background: url(pics/seaside.jpg);
    background-size: cover;
}
#img3 {
    background: url(pics/luck.jpg);
    background-size: cover;
}
#img4 {
    background: url(pics/heights.jpg);
    background-size: cover;
}
#img5 {
    background: url(pics/fish.jpg);
    background-size: cover;
}

#img6 {
    background: url(pics/citrus.jpg);
    background-size: cover;
    clip-path: circle(30%);
}
#img7 {
    background: url(pics/cute.jpg);
    background-size: cover;
    top:0%;
}