body {
    background: #dde1e7;
}
div{
    overflow: hidden;
}

.parent {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: 14.6vw 14.6vw 14.6vw;
    grid-template-columns: 3.6458333333333335vw 1fr 1fr 1fr 1fr 1fr 1fr 3.6458333333333335vw;
}
    
.div1 { grid-area: 1 / 2 / 2 / 4;}
.div2 { grid-area: 1 / 4 / 3 / 5;}
.div3 { grid-area: 3 / 4 / 4 / 6;}
.div4 { grid-area: 2 / 2 / 4 / 3;}
.div5 { grid-area: 1 / 6 / 2 / 8;}
.div6 { grid-area: 2 / 7 / 4 / 8;}
.div7 { grid-area: 1 / 5 / 2 / 6;}
.div8 { grid-area: 2 / 3 / 3 / 4;}
.div9 { grid-area: 2 / 5 / 3 / 6;}
.div10 { grid-area: 2 / 6 / 3 / 7;}
.div11 { grid-area: 3 / 3 / 4 / 4;}
.div12 { grid-area: 3 / 6 / 4 / 7;}

.diva { grid-area: 1 / 2 / 2 / 3;}
.divb { grid-area: 1 / 4 / 2 / 5;}
.divc { grid-area: 3 / 4 / 4 / 5;}
.divd { grid-area: 2 / 2 / 3 / 3;}
.dive { grid-area: 1 / 6 / 2 / 7;}
.divf { grid-area: 2 / 7 / 3 / 8;}

.indent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.hbutton {
  position: relative;
  border-radius: 50%;
  background-color: #dde1e7;
  box-shadow: 5px 5px 9px rgba(94,104,121,0.3), inset 5px 5px 9px rgba(255,255,255,0.35);
}
.div1:hover ~ .diva{
    transform: translateX(100%);
    transition: all 1.5s ease;
}

.vbutton {
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 9px rgba(94,104,121,0.3), inset 5px 5px 9px rgba(255,255,255,0.65);
}