@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #dde1e7;
}
#wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 100%;
    overflow: hidden;
}
.img1 {
    max-width: 100%;
    height: auto;
    position: relative;
}

.center {
    width: 100vw;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.img2 {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
     /*
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transform: translateX(50%); */
}
p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 4.5vw;
    font-weight: 600;
    color: white;
}
.pcenter {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 20;
    position: relative;
}

/* nav bar */
.container {
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
    height: 10%
}
.table-cell {
    display: table-cell;
}
.title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2vw;
    left: 1.8%;
    position: fixed;
    z-index: 50;
}
ul {
    position: fixed;
    list-style-type: none;
    right:2%;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    z-index: 100;
}
ul li{
    display: inline;
    margin-left: 0.3em;
}
a {
    color: #000000;
}
a:link { 
    text-decoration: none; 
}
a:visited { text-decoration: none; }
a:hover { 
    text-decoration: none; 
}
a:active { text-decoration: none; }

/* left nav miko */
.sprite_left {
    background: url(sprite_left.png);
    position: fixed;
    bottom:0;
    left:0;
    width: calc(1849px / 11);
    height: 120px;
    animation: anim 1s steps(11) infinite;
    animation-play-state:paused; 
    z-index: 100;
}
.sprite_left:hover {
    animation-play-state:running;
}
@keyframes anim {
    from {
        background-position: 0;
    }
    to {
        background-position: -1849px;
    }
}

/* right nav miko */
.sprite_right {
    background: url(sprite_right.png);
    position: fixed;
    bottom:0;
    right:0;
    width: calc(1849px / 11);
    height: 120px;
    animation: ani 1s steps(11) infinite;
    animation-play-state:paused;
    z-index: 100;
}
.sprite_right:hover {
    animation-play-state:running;
}
@keyframes ani {
    from {
        background-position: 0;
    }
    to {
        background-position: 1849px;
    }
}

.linkSpanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.p2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3.5vw;
    font-weight: 600;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}