@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

.animation {
    margin: 0;
    padding: 0;
}

.center {
    width: 100vw;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.img1 {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.pcenter {
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    z-index: 20;
    position: relative;
}

.slideanim {
    width: 10ch;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    font-weight: 800;

    animation: typing 2s steps(18), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
  
@keyframes typing {
from {
    width: 0
}
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}